.loginpanel label span{display: block; white-space:nowrap; float:left; width: 50px; overflow:hidden; color:#FFF; margin:10px 0px 10px 10px;}
.loginpanel .username input, .loginpanel .password input{padding-left:5px; width:170px;}
.loginpanel .username, .loginpanel .password{clear:both; margin-top:10px;}